/* 共通部分
------------------------------- */
html {
	font-size: 100%;
}

/* ストライプ */
table {
	width: 100%;
	/* 表の幅 */
	border-collapse: collapse;
	/* セルの枠線を重ねる */
}

th,
td {
	padding: 8px;
	/* 余白 */
	border-bottom: solid 1px #ddd;
	/* 枠線の下線の太さと色 */
}

tr:nth-child(even) {
	background-color: #f2f2f2;
} /* 背景色 */
