@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
	font-size: 100%;
}

body {
	background-color: #ffffff;
	font-family: 'Noto Sans JP', sans-serif;
	color: #333333;
}

a {
	text-decoration: none;
	color: #0076d1;
	transition: color 0.5s;
}

a:visited {
	color: #0076d1;
}

a:hover {
	color: #ff33cc;
}

li {
	/* list-style: none; */
	font-size: medium;
}

h1 {
	font-size: xx-large;
	margin: 0px;
}

h2 {
	font-size: x-large;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	font-size: medium;
}

small {
	font-size: small;
}

/* table設定
------------------------------- */
table,
th,
td {
	border: solid 1px #ccc;
	border-collapse: collapse;
	padding: 7px;
}

table th:nth-child(1),
table td:nth-child(1) {
	width: 240px;
}

table th:nth-child(2),
table td:nth-child(2) {
	width: 600px;
}

table th:nth-child(3),
table td:nth-child(3) {
	width: 75px;
	/* text-align: center; */
}

/* 追記
------------------------------- */
ion-icon {
	font-size: 24px;
	vertical-align: middle;
}

.material-icons {
	vertical-align: middle;
}

/* 構造部
------------------------------- */

/* container */
.wrapper {
	width: 100%;
}

.wrapper .container {
	max-width: 1000px;
	margin: 0px auto;
	padding: 20px 0px;
}

/* content */
.wrapper .content {
	padding: 10px;
	/* text-align: center; */
}

.wrapper .content .heading {
	margin: 0px 0px 0px 0px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

header,
footer {
	text-align: center;
}

@media screen and (max-width: 600px) {
	/* 画面サイズが600(768)以下の場合に適用 */
	body {
		font-size: 3.5vw;
	}

	h1 {
		font-size: 8vw;
	}

	h2 {
		font-size: 4vw;
		margin-top: 30px;
	}

	header {
		width: auto;
		margin: 0.5%;
	}

	.material-icons {
		font-size: 5vw;
	}
}
